
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
}

.leftnav {
    float: left;
    position: relative;
    text-align: left;
    left: 40px;
    font-family: "Montserrat";
}

.leftnav a {
    color: black;
    text-decoration: none;
    font-family: "Montserrat";
}

.leftnav a:hover {
    color: blue;
    text-decoration: underline;
}

.rightnav {
    float: right;
    position: relative;
    right: 40px;
    padding: 0px 10px;
}

.dropbtn {
    color: black;
    background-color: white;
    border: none;
    text-align: left;
    font-family: "Montserrat";
    font-size: 16px;
}

.dropcn {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 2px 2px 1px gray;
}

.dropcn a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropcn a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropcn {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: lightblue;
}

.rightnav a {
    color: black;
    font-weight: bold;
}

.title {
    position: relative;
    text-align: center;
    margin: 40px 40px;
}

.info {
    margin: 5px 40px 30px;
}

.info a {
    color: blue;
}

.info a:hover {
    text-decoration: none;
}

.info .short {
    padding: 5px 0px;
}

h1 {
    font-weight: 500;
    font-size: 53px;
    font-family: "Raleway";
}

h2 {
    color: rgb(21, 124, 221);
    font-family: "Raleway";
    font-weight: 500;
    font-size: 20px;
    padding: 5px 0px;
}

h3 {
    color: rgb(21, 124, 221);
    font-weight: 500;
    font-family: "Raleway";
    padding: 5px 0px;
}

iframe {
    float: left;
    margin-left: 40px;
}

.vid {
    display: inline-block;
    position: relative;
}

.viddesc {
    float: right;
    margin-left: 20px;
    margin-right: 40px;
    inline-size: 290px;
    overflow: break-word;
}

.iss-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-con {
    width: 700px;
    height: 625px;
    background-color: white;
    border-radius: 7px;
    position: relative;
}

.modal-con h2 {
    margin: 15px 10px;
}

.modal-con h4 {
    margin: 0px 0px 10px 10px;
}

.modal-con p {
    margin: 10px 10px 5px 10px;
}

.modal-con textarea {
    margin: 5px 10px;
    width: 95%;
    outline: none;
    padding: 5px;
}

.modal-con button {
    display: inline-block;
}

.modal-con .user-info-l {
    margin: 10px 5px 10px 10px;
}

.modal-con .user-info-in {
    margin: 10px 0px 10px 0px;
    border-radius: 0px;
    border: 1px solid;
    height: 25px;
    width: 200px;
    outline: none;
    padding-left: 2px;
}

.modal-con .checkbox {
    margin-left: 10px;
    width: 17px;
    height: 17px;
}

.modal-con .checkbox:hover, label:hover {
    cursor: pointer;
}

.modal-con .left-form-btn {
    margin-left: 10px;
}

.modal-con .right-form-btn {
    float: right;
    margin-right: 10px;
}

.formBtn{
    text-decoration: none;
    color: black;
    background: lightskyblue;
    border: 1px solid rgb(29, 103, 189);
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    padding: 3px;
    font-weight: bold;
}

.formBtn:hover {
    cursor: pointer;
    border: 1px solid grey;
    background-color: lightblue;
}

.close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    transform: rotate(45deg);
    cursor: pointer;
}

.conf-modal {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all .5s ease;
    transform: translateX(110%);
}

.conf {
    width: 250px;
    height: 100px;
    border: solid rgb(71, 71, 71) 1px;
    border-radius: 6px;
    padding: 10px;
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
    position: relative;
    background-color: lightskyblue;
    color: rgb(71, 71, 71);
}

.conf h4 {
    color: black;
    font-weight: 600;
    font-family: "Montserrat";
}

.conf .close {
    font-size: 30px;
    right: 5px;
    top: -5px;
}

.conf .close:hover {
    cursor: pointer;
    color: black;
}


.foot {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
}

.foot th {
    text-align: left;
    font-weight: 600;
}

th, td {
    padding: 5px;
}

#firstrow {
    background-color: paleturquoise;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
}

#secrow {
    background-color: lightblue;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
}

#thirdrow {
    background-color: blue;
    color: white;
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    text-align: center;
}

td a {
    color: black;
    font-weight: 700;
}

td a:hover {
    text-decoration: none;
}

* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
